<a href="/"><h4 class="text-right mt-5">Word List</h4></a>
<h3 class="text-center mt-5 ">Add a word to the word list</h3>
<form action='/words' method="post">
 <div class="form-row">
        <div class="box-decore pr-5 pl-5 input-group input-group-lg col-md-5 mx-auto">
          <input type="text" class="class-input form-control text-center" name="word_name" placeholder="Add a Word">
          <div class="input-group-prepend">
            <button type="submit" class="btn-success btn">Add</button>
          </div>
        </div>
      </div>
</form>