<a href="/"><h4 class="text-right mt-5">Word List</h4></a>
<h2 class="text-center mt-5"><%= @word.name %></h2>
<div class="container">
  <div class="row justify-content-between">
    <div><button class="btn btn-success">Add Definition</button></div>  
    <div><a href='/words/edit-word/<%= @word.id %>'><button class="btn btn-info">Edit Word</button></a></div>  
  </div>
</div>