<div class="row justify-content-between">
  <div><a href='/words/edit-word/<%= @word.id %>'><button class="btn btn-info mt-5">Edit Word</button></a></div>  
  <a href="/"><h4 class="mt-5">Word List</h4></a>
</div>
<h2 class="text-center mt-5"><%= @word.name %></h2>
<div class="container">
  <div class="d-flex justify-content-center">
    <% if @word.definitions %>
      <ul>
        <% @word.definitions.each do |d| %>
          <li><%= d.name %>
        <% end %>
      </ul>
    <% else %>
      <h3 class=" mt-3">This word has no definitions</h3>
    <% end %>

  </div>
</div>