<a href="/"><h4 class="text-right mt-5">Word List</h4></a>
<h2 class="text-center mt-5"><%= @word.name %></h2>
<div class="container">
  <div class="d-flex justify-content-end">
    <h3>This word has no definitions, add some.</h3>
    <div class="col-2"></div>
    <img class="mb-1"src="https://media.giphy.com/media/PiQHnEFQzUyHHhgzWc/giphy.gif" width="105" height="45">
  </div>
  <div class="row justify-content-between">
    <div><a href='/words/edit-word/<%= @word.id %>'><button class="btn btn-info">Edit Word</button></a></div>  
    <div><button class="btn btn-success" href='/words/<%= @word.id %>/definitions'>Add Definition</button></div>  
  </div>
</div>