<% if @words.any? %>
  <h3>Click a word to see it's definition</h3>
  <ul>
  <% @words.each do |word|%>
    <li class="text-center"><%= word.name %></li>
  <% end %>
<% else%>
  <h3 class="text-center"> Create a word </h3>
<% end %>
<a href="/words/new"><button class="btn btn-success">Add Word</button></a>